<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Hasta la proxima {{session.name}}</title>

    {{! Google Fonts }}
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap'
      rel='stylesheet'
    />

    {{! Tailwind CSS }}
    <script src='https://cdn.tailwindcss.com'></script>

    <style>
      body { font-family: 'Outfit', Helvetica, sans-serif; }
    </style>
  </head>
  <body class='flex flex-col items-center pt-10'>
    <main class='flex justify-center w-full'>
      <div
        class='w-full max-w-md border border-zinc-200 bg-zinc-100 p-4 rounded-lg'
      >
        <h1 class='mb-5 text-2xl font-medium'>Esperamos verte pronto</h1>
        <p class='white'>Seras redirigido a la pagina de inicio en 5 segundos.
          Si la pagina no se redirige automaticamente, haz click
          <a class='text-blue-500' href='/login'>aqui</a>.
        </p>
      </div>
    </main>
    <script>
      setTimeout(() => { window.location.href = '/login'; }, 5000);
    </script>
  </body>
</html>