<header class="flex items-center justify-between w-full p-4 border-b border-zinc-300">
  <a href="#" class="text-xl">
    Coderhouse ECommerce
  </a>
  <div class="flex items-center gap-2">
    <div class="flex flex-col items-end">
      <span>{{session.name}}</span>
      <span class="text-sm text-zinc-600">{{session.role}}</span>
    </div>
    <img class="h-10 rounded-lg" src={{session.avatar}}>
    <button class="p-2 border rounded-lg border-zinc-300">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
        <path d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" />
      </svg>
    </button>
    <a href="/logout"
      class="p-2 border rounded-lg border-zinc-300 bg-zinc-50">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
        <path fill-rule="evenodd" d="M7.5 3.75A1.5 1.5 0 006 5.25v13.5a1.5 1.5 0 001.5 1.5h6a1.5 1.5 0 001.5-1.5V15a.75.75 0 011.5 0v3.75a3 3 0 01-3 3h-6a3 3 0 01-3-3V5.25a3 3 0 013-3h6a3 3 0 013 3V9A.75.75 0 0115 9V5.25a1.5 1.5 0 00-1.5-1.5h-6zm10.72 4.72a.75.75 0 011.06 0l3 3a.75.75 0 010 1.06l-3 3a.75.75 0 11-1.06-1.06l1.72-1.72H9a.75.75 0 010-1.5h10.94l-1.72-1.72a.75.75 0 010-1.06z" clip-rule="evenodd" />
      </svg>
    </a>
  </div>
</header>
<main class='flex justify-center w-full mt-5'>
  <form
    class='w-full max-w-md p-4 border rounded-lg border-zinc-200 bg-zinc-50'>
    <h1 class='mb-5 text-2xl font-medium'>Añadir nuevo producto</h1>


    <label class='flex flex-col mt-4'>
      <span class='text-sm italic text-zinc-500'>
        Imagen del producto
      </span>
      <input
        class='p-1 border rounded-md border-zinc-300'
        type='file'
        name='image'/>
    </label>

    <label class='flex flex-col mt-4'>
      <span class='text-sm italic text-zinc-500'>
        Nombre del producto
      </span>
      <input
        class='p-1 border rounded-md border-zinc-300'
        type='text'
        name='name'/>
    </label>

    <label class='flex flex-col mt-4'>
      <span class='text-sm italic text-zinc-500'>
        Descripción del producto
      </span>
      <textarea
        class='p-1 border rounded-md border-zinc-300'
        name='description'
        rows='3'></textarea>
    </label>

    <label class='flex flex-col mt-4'>
      <span class='text-sm italic text-zinc-500'>
        Precio del producto
      </span>
      <input
        class='p-1 border rounded-md border-zinc-300'
        type='number'
        name='price'/>
    </label>

    <button
      type='submit'
      class='w-full p-2 mt-4 font-medium text-center text-white bg-blue-600 rounded-lg'>
      Añadir producto
    </button>
  </form>
</main>
<script src="/javascript/addNewProduct.js"></script>