<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Productos de prueba</title>

    {{! Google Fonts }}
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap'
      rel='stylesheet'
    />

    {{! Tailwind CSS }}
    <script src='https://cdn.tailwindcss.com'></script>

    <style>
      body { font-family: 'Outfit', Helvetica, sans-serif; }
    </style>
  </head>
  <body class='flex flex-col items-center pt-10'>
    <main class='w-full max-w-4xl'>
      <h1 class='text-2xl pb-4'>Productos de prueba</h1>
      <ul class='flex flex-col' id='product-list'></ul>
    </main>
    <script src='/testproducts.js'></script>
  </body>
</html>