{{> header}}
<div class="flex flex-col items-center justify-center h-full">
  <img class="mb-4 w-[600px]" src="/images/success.png" alt="Orden generada exitosamente">
  <h1 class="mb-2 text-2xl font-semibold">¡Orden generada exitosamente!</h1>
  <p class="text-gray-600">Se ha enviado un correo con el número de orden.</p>
</div>
