<main>
  <div class="flex gap-3">
    <img src={{session.avatar}} class="h-16 rounded-full">
    <div class="flex flex-col">
      <h2 class="text-xl font-semibold">{{session.name}}</h2>
      <span class="text-sm italic text-zinc-600">{{session.role}}</span>
    </div>
  </div>
</main>