<a href="product/{{this.slug}}" class="w-full overflow-hidden border rounded-lg border-zinc-300">
  <img class="object-cover w-full aspect-video" src="{{this.images.[0]}}" alt="">
  <div class="flex items-center justify-between p-4">
    <h2 class="text-lg font-semibold">{{this.title}}</h2>
    <span class="italic text-zinc-600">${{this.price}}</span>
  </div>
</a>